.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  font-family: "Oswald";
  letter-spacing: 0.3rem;
  text-align: center;
}
.text-blue {
  color: blue
}

.container {
  letter-spacing: 0.1rem;
  padding-left: 80px;
  text-align: center;
  flex-direction: column;
}

.filter {
  letter-spacing: 0.1rem;
  padding-left: 120px;
  text-align: center;
  flex-direction: column;
}
.image-container {
  margin-right: 30;
  max-width: 40%;
  border: 10px solid;
  display: block;
}

.column-half-2 {
  display: table-cell;
  padding: 25px;
  float: right;
  
}

.center-fit {
  float: left; 
 padding: 0 20px 20px 0;
  max-width: 89%;
  max-height: 89%;
  margin: 30px 0px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQMXUKlIUmch2G9-2qoRzKPoYtJgBznDjxTOHuQxKHIamJ_efi");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}